.profile-elements {
    display: flex;
    justify-content: space-between;
    padding: 0 70px 70px 70px;
}

.save-btn {
    width: 135px;
    height: 64px;
    display: flex;
    padding: 24px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #99826B;
    background: color(display-p3 0.5843 0.5137 0.4314);
    color: #FFF;
    color: color(display-p3 1 1 1);
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: 30px;
}

@media (max-width: 800px) {
    .profile {
        width: 360px;
        height: 150vh;
        padding: 0;
        box-sizing: border-box;
        background: #F1F1F1;
        background: color(display-p3 0.9451 0.9451 0.9451);
    }

    .profile-form {
        box-sizing: border-box;
        background: #F1F1F1;
        background: color(display-p3 0.9451 0.9451 0.9451);
        padding: 89px 20px 0 20px;
    }

    .save-btn {
        width: 320px;
        height: 60px;
        font-size: 14px;
        padding: 22px 32px;
    }

    .adress-title {
        margin-top: 32px;
    }
}