.card {
    width: 310px;
    height: 420px;
    flex-shrink: 0;
    border-radius: 7px;
    background: #FFF;
    background: color(display-p3 1 1 1);
    box-sizing: border-box;
}

.card-text {
    padding: 0 20px;
}

.card img {
    border-radius: 7px 7px 0 0;
    height: 48%;
    width: 100%;
    box-sizing: border-box;
    background-size: cover;
    background-repeat: no-repeat;
    lighting-color: lightgray 50%;
}

.price {
    color: #000;
    color: color(display-p3 0 0 0);
    line-height: 1.2;
    font-family: Roboto Flex;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 25px */
    text-transform: uppercase;
    margin-top: 25px;
}

.name {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Roboto Flex;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    margin-top: 20px;
}

.description {
    color: #000;
    color: color(display-p3 0 0 0);
    font-family: Roboto Flex;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 12px */
    margin-top: 15px;
    margin-bottom: 30px;
}

.btn {
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    background: #99826B;
    background: color(display-p3 0.5843 0.5137 0.4314);
    color: #FFF;
    color: color(display-p3 1 1 1);
    font-family: Roboto Flex;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-bottom: 24px;
}